@import "tailwindcss";

@theme {
  --animate-progress: progress 5s linear forwards;
  
  @keyframes progress {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
}

body {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

input, textarea {
  user-select: text;
  -webkit-user-select: text;
}
